<nav>
    <ul>
        <li><a href="{{ path('app_default') }}">Homepage</a></li>
        <li><a href="{{ path('app_helloToYou', {'prenom':'Camille', 'nom':'Gaillard'}) }}">helloToYou</a></li>
        <li><a href="{{ path('app_manga_index') }}">Manga</a></li>
    </ul>
</nav>